---
layout: default
section_id: about

members:
  - name: Pier
    position: 6 anni nel 1996
    desc:
      Project Management
    avatar: images/@stock/babypier.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Cristina
    position: 5 anni nel 1995
    desc:
      Social Media
    avatar: images/@stock/babycri.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
  - name: Sofia
    position: 6-14 anni
    desc:
      Teacher
    avatar: images/@stock/babysofi.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
  - name: Nick
    position: 6-14 anni
    desc:
      Teacher
    avatar: images/@stock/babynick.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Djibril
    position: 6-14 anni
    desc:
      Tutor
    avatar: images/@stock/babydjbril.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
  - name: Davide
    position: 6-14 anni
    desc:
      Contents
    avatar: images/@stock/babyda.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com

---

<div class='full'>
  <div class='row'>
    <div class='medium-8 columns'>
      <h3>About</h3>
      <div class='spacing'></div>
      <p>Fablab for Kids è attivo da <b>quattro</b> anni sul territorio torinese e avvicina ragazzi dai <b>5 ai 14 anni</b> alle tecnologie e alle competenze del futuro, con un approccio pratico e divertente all'apprendimento.
<br><br>
Nelle attività di Fablab for Kids, che si parli di storia e geografia o di programmazione, l’apprendimento non è mai passivo: i bambini sono creativi di natura e si meritano un apprendimento all’altezza delle loro capacità, e poi nulla è noioso se si trova il modo giusto per raccontarlo.
<br><br>
Al Fablab di Torino lo studio non è mai un atto passivo ma il frutto di un viaggio condiviso, fatto di riflessioni e sperimentazioni, durante il quale si impara anche ad affrontare la paura del fallimento, si affinano le capacità di condivisione dei saperi e si promuove un approccio creativo e autonomo.
<br><br>
Fablab for Kids, grazie alla collaborazione con le comunità del <b>Fablab (Torino)</b> e del <b>Techlab (Chieri)</b> di cui fanno parte makers, designer, educatori ed appassionati di tecnologia, riesce a fornire competenze ed esperienze didattiche in continuo aggiornamento.
</p>

          <p> Per maggiori info scrivici!</p>
    </div>


    <div class='medium-4 columns'>
      <h3>Contatti</h3>
      <div class='spacing'></div>

      <p><h4 style=''>
        indirizzi mail
      </h4>
      <a href="mailto:info@fablabforkids.it">info@fablabforkids.it</a><br>
      <a href="mailto:p.vona@fablabforkids.it">p.vona@fablabforkids.it</a></p>

      <p><h4 style=''>
      facebook
      </h4>
      <a href="https://www.facebook.com/fablabforkids/" target="_blank">Fablab for Kids</a><br>
      <a href="https://www.facebook.com/fablabtorino/" target="_blank">Fablab Torino</a><br></p>
      <!--<a href="https://www.facebook.com/techlabtl/" target="_blank">Techlab</a></p>!-->

      <p><h4 style=''>
      instgram
      </h4>
      <a href="https://www.instagram.com/fablabforkids/" target="_blank">@Fablabforkids</a><br></p>

      <p><h4 style=''>
      flickr
      </h4>
      <a href="https://www.flickr.com/photos/fablab4kids/" target="_blank">Fablab for Kids Torino</a><br></p>


      </div>
    </div>
    </div>



<div class='two spacing'></div>
<hr>

<!-- <div class='row'>
  <h3 style="font-weight: 300" align="center"> La nostra squadra:<br><br></h3>
  {% for member in page.members %}
    <div class='small-4 medium-4 large-2 columns'>
      <div class='mod modTeamMember style-2' align="center">
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay'>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{social.url}}'>
                    <i class='{{social.icon_class}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>

<hr> !-->
<div class='row'>


  <div class="col-md-12" class="wpb_map_wraper">
    <h3 style="font-weight: 300" align="center"> Dove ci trovi:<br><br></h3>
      <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1S7GON_1saF0HZ8S2CjUq64bsMrI" width=100% height="300"></iframe><br><br>
  </div>


</div>
