---
layout: default
section_id: home
slides:
  - bg: images/@stock/boxed-slide-5.jpg
    title: Paratissima13
    tagline: Costruiamo la MyCraft Lamp
    link: "https://github.com/PierLuisVona"
  - bg: images/@stock/boxed-slide-4.jpg
    title: MEGA coders
    tagline: workshop di coding e STEAM
    link: "http://codeweektorino.eu"
  - bg: images/@stock/boxed-slide-6.jpg
    title: 8-14 anni
    tagline: Corsi di Robotica e Programmazione
    link: "http://codeweektorino.eu"

works:
  - image: images/@stock/one-page-work-4.jpg
    title: SUMO Robots
    desc: Design &amp; Development
    class: robotics-coding
  - image: images/@stock/one-page-work-2.jpg
    title: Robottino.cc
    desc: Design &amp; Development
    class: web-design print
  - image: images/@stock/one-page-work-1.jpg
    title: Inventa con littleBits
    desc: Design &amp; Development
    class: brand
  - image: images/@stock/one-page-work-3.jpg
    title: Spinner DIY
    desc: Design &amp; Development
    class: development

services:
  - icon_class: fa fa-reddit-alien
    title: Robotica
    desc: Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.
  - icon_class: fa fa-microchip
    title: Elettronica
    desc: Sentire e visualizzare i flussi elettrici, capire che l'elettricità ci circonda, imbrigliarla in circuiti di rame e infine programmare le schede per dimostrare agli elettroni chi comanda!
  - icon_class: fa fa-code
    title: Coding
    desc: Oggi sappiamo scrivere anche se non siamo scrittori. <br> Domani dovremo saper scrivere codice anche se non faremo i programmatori.
  - icon_class: fa fa-map-signs
    title: Storytelling
    desc: Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.

bars:
  - title: Web Design
    percent: 84
  - title: Web Development
    percent: 95
  - title: Site Management
    percent: 70
  - title: Branding
    percent: 61

testimonials:
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-1.png
  - text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-2.png
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-3.png

clients:
  - images/@stock/client-grey-1.png
  - images/@stock/client-grey-2.png
  - images/@stock/client-grey-3.png
  - images/@stock/client-grey-4.png
  - images/@stock/client-grey-5.png
  - images/@stock/client-grey-6.png
---

<div class='full no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
            <div class='slide'>
              <img alt="" src="{{slide.bg}}" />
              <div class='caption'>
                <p>{{slide.title}}</p>
                <a href={{slide.link}} target="_blank"><h2>{{slide.tagline}}</h2></a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class='full no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p style='font-size: 1.8rem; font-style: italic;' align="center">

          Fablab for Kids è la piattaforma educativa di <a href="http://fablabtorino.org/">Fablab Torino</a> dedicata a bambini e ragazzi.<br>
          <b>In ognuno può nascondersi un grande inventore, la nostra missione è tirarlo fuori!</b><br>
          I nostri metodi? Creatività, sperimentazione e tanta pratica.
          I corsi e i laboratori che proponiamo sono perfetti per muovere i primi passi nel mondo Makers:<br> coding, modellazione e stampa 3D, robotica, elettronica e tanto altro!
      </p>
    </div>
  </div>
</div>



<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
  </div>
</div>
<div class='row'>
  {% for service in page.services %}
    <div class='medium-3 large-3 columns'>
      <div class='fadein mod modIconText' data-delay='{{ 200 | times:forloop.index0 }}'>
        <div class='icon-text-circle'>
          <i class='{{service.icon_class}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<!--
<div class='two spacing'></div>
<div class='row'>
  <div class='medium-6 columns'>
    <h3>Our skills</h3>
    <div class='spacing'></div>
    <div class='mod modBarGraph'>
      <ul class='bars'>
        {% for bar in page.bars %}
          <li>
            <h4 style=''>
              {{bar.title}}
              <strong>{{bar.percent}}%</strong>
            </h4>
            <p class='highlighted' data-percent='{{bar.percent}}'></p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='two spacing'></div>
  </div>
  <div class='medium-6 columns'>
    <h3>What our clients say</h3>
    <div class='spacing'></div>
    <div class='mod modTestimonials simple'>
      <div class='row'>
        <div class='small-12 columns'>
          <div class='items'>
            {% for t in page.testimonials  %}
              <div class='item'>
                <p class='quote'>{{t.text}}</p>
                <div class='author'>
                  <p class='author-avatar'>
                    <img alt="" src="{{t.avatar}}" />
                  </p>
                  <p class='author-name'>
                    -
                    <strong>
                      {{t.author}}
                    </strong>
                    , {{t.position}}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Our clients</h3>
    <div class='spacing'></div>
    <div class='mod modClients' data-slides_to_show='5'>
      <div class='clients'>
        {% for client in page.clients %}
          <div><img alt="" src="{{client}}" /></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<hr> !-->

<div class='two spacing'></div>
<div class='full no-padding' style='background-image: url(images/fablabforkids-logo-footer-yellow.png)'>
    <div class='spacing'></div>

  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-12 large-12 columns'>
        <p align="center">Vuoi conoscere i prossimi laboratori in programma?</p>
      </div>
      <div class='medium-12 large-12 columns' align="center">
      <a class='button' target="_blank" href='http://arduino.us5.list-manage.com/subscribe/post?u=0140d17584d1c002bcd94d0e8&id=906bb8b6a6'>Iscriviti alla newsletter</a>
      </div>
    </div>
  </div>
</div>


<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Ultimi Laboratori
      /
      <a href='portfolio.html'>Vedi tutto</a>
    </h3>
    <div class='spacing'></div>
  </div>
  <div class='mod modGallery'>
    <ul class='gallery large-block-grid-4 medium-block-grid-3 seperated small-block-grid-2'>
      {% for work in page.works %}
        <li class='{{work.class}}'>
          <a href='portfolio-item.html'>
            <img alt="" src="{{work.image}}" />
            <div class='overlay' style='background: rgba(0, 152, 177, 0.8);'>
              <div class='thumb-info'>
                <h3>{{work.title}}</h3>
                <p>{{work.desc}}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Ultimi Eventi
      /
      <a href='blog/index.html'>Vedi tutto</a>
    </h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for post in site.posts %}
    {% if forloop.index > 3 %}
      {% break %}
    {% endif %}


    <div class='large-4 medium-4 columns'>
      <div class='mod modBlogPost no_bg simple'>
        {% for image in post.images %}
          {% if forloop.index > 1 %}
            {% break %}
          {% endif %}
          <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
        {% endfor %}
        <div class='content'>
          <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <p>{{post.excerpt | truncatewords: 25 }}</p>
        </div>
      </div>
    </div>

  {% endfor %}
  <div class='two spacing'></div>
</div>
