---
layout: default
section_id: scuole
skills:
  - title: Formazione & Workshop
    percent: 35
  - title: Prototipazione rapida
    percent: 35
  - title: Community
    percent: 20
  - title: Eventi
    percent: 10

members:
  - name: Partecipa a MEGAcoders
    position: Evento della European Code Week
    desc:
      Un uovo deve essere salvato, come..?<br> A questo dovrete pensarci tu e la tua squadra.<br> Durante la Egg Quest avrete a disposizione un uovo e diversi materiali. Questa challenge consente di mettersi alla prova con alcuni principi dinamici, affiancandoli con una parte più manuale e creativa basata esclusivamente sulle proprie scelte, che porteranno una squadra alla vittoria.<br> Occhio, però, il rischio dell’effetto frittata è dietro l’angolo!
    avatar: images/@stock/megacoders.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Proposte Pon v2.0
    position: Proposte per le progetualità scolastiche
    desc:
      3, 2, 1… Si soffia! Durante l’Air Powered car race costruirete la vostra monoposto alimentata a palloncini, ma state tranquilli, non bisogna essere meccanici o ingegneri. Basta essere makers creativi e ingegnosi, che sappiano sfruttare i materiali di recupero e il lavoro di un team.<br> Partecipa alla corsa più scoppiettante del Fablab. Velocità, precisione e taaaaaaaaaaanto fiato.
    avatar: images/@stock/pon.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
  - name: Offerta formativa sett2017
    position: Proposte per le progettualità scolastiche
    desc:
      Un marshmallow e una manciata di spaghetti per vincere una gara con la gravità! <br> Questa sfida permette di sviluppare molteplici competenze, lavorare all’interno di un gruppo, pensare in modo propositivo e collaborare per raggiungere un obiettivo comune. <br>Durante la Marshmallow Challenge bisognerà costruire una torre di spaghetti che sostiene un marshmallow. Un modo divertente (e appiccicoso) per mettersi in gioco con rapidità, creatività e inventiva, per trovare sempre nuove soluzioni.
    avatar: images/@stock/off.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
  - name: Offerta formativa sett2017
    position: Proposte per le progettualità scolastiche
    desc:
      Un marshmallow e una manciata di spaghetti per vincere una gara con la gravità! <br> Questa sfida permette di sviluppare molteplici competenze, lavorare all’interno di un gruppo, pensare in modo propositivo e collaborare per raggiungere un obiettivo comune. <br>Durante la Marshmallow Challenge bisognerà costruire una torre di spaghetti che sostiene un marshmallow. Un modo divertente (e appiccicoso) per mettersi in gioco con rapidità, creatività e inventiva, per trovare sempre nuove soluzioni.
    avatar: images/@stock/off.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
---

<div class='full'>
  <div class='row'>
    <div class='medium-8 columns'>
      <h3>Offerta scuole</h3>
      <div class='spacing'></div>
      <p>Fablab for kids offre vari corsi e percorsi per le scuole primarie e secondarie.<br>
Vogliamo però intendere ogni proposta come una traccia da adattare ad ogni scuola per valorizzarne le specificità e qualità e non costruire solo occasioni di collaborazione estemporanee.
    </p>
          <p> Per chiedere magiori info scrivi a <a href="mailto:info@fablabforkids.it">info@fablabforkids.it</a> !</p>
    </div>
    <div class='medium-4 columns'>
      <h3>il Fablab di Torino</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class="bars">
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percent}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percent}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Proposte</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.members %}
    <div class='small-1 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay'>
            <!--<ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{social.url}}'>
                    <i class='{{social.icon_class}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>!-->
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
<div class='three spacing'></div>
