<div class="container">

		<div class="row" align="center">
			<h1>Ultimi Eventi</h1>
			<br>
		</div>


		<div class="row">
			<div class="col-sm-3 col-md-4">
				<h2 style="color: #F2AB3A">TORINO<br>Mini Maker Faire <br>2017</h2>
				<div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.1858658797720564.1073741838.1565864100333370&type=1&l=5c2e150df8" data-width="150"  data-show-text="true"><blockquote cite="https://www.facebook.com/media/set/?set=a.1858658797720564.1073741838.1565864100333370&type=1&l=5c2e150df8" class="fb-xfbml-parse-ignore">
					<p>Torino, 27 - 28 maggio 2017</p>Pubblicato da <a href="https://www.facebook.com/media/set/?set=a.1858658797720564.1073741838.1565864100333370&type=1&l=5c2e150df8">Fablab for Kids</a> su&nbsp;<a href="https://www.facebook.com/media/set/?set=a.1858658797720564.1073741838.1565864100333370&type=1&l=5c2e150df8">27-28 maggio 2017</a></blockquote></div>
			</div>
			<div class="col-sm-3 col-md-4">
				<h2 style="color: #F2AB3A">ROMA<br>Festival della Scienza <br>2017</h2>
				<div class="fb-post" data-href="https://www.facebook.com/fablabforkids/posts/1843399285913182" data-width="150"  data-show-text="true"><blockquote cite="https://www.facebook.com/fablabforkids/posts/1843399285913182" class="fb-xfbml-parse-ignore">
					<p>Roma, 11 - 14 maggio 2017</p>Pubblicato da <a href="https://www.facebook.com/fablabforkids/posts/1843399285913182">Fablab for Kids</a> su&nbsp;<a href="https://www.facebook.com/fablabforkids/posts/1843399285913182">15 maggio 2017</a></blockquote></div>
			</div>
			<div class="col-sm-3 col-md-4">
				<h2 style="color: #F2AB3A">FIRENZE<br>Festival dei bambini <br>2016</h2>
				<div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.1680022478917531.1073741831.1565864100333370&amp;type=3" data-width="150"  data-show-text="true"><blockquote cite="https://www.facebook.com/media/set/?set=a.1680022478917531.1073741831.1565864100333370&amp;type=3" class="fb-xfbml-parse-ignore"><p>Firenze, 15 - 17 aprile 2016</p>Pubblicato da <a href="https://www.facebook.com/fablabforkids/">Fablab for Kids</a> su&nbsp;<a href="https://www.facebook.com/media/set/?set=a.1680022478917531.1073741831.1565864100333370&amp;type=3">Venerdì 15 aprile 2016</a></blockquote></div>
			</div>
			<!-- <div class="col-sm-3 col-md-4">
				<h2 style="color: #F2AB3A">PISA<br>Internet Festival 2016</h2>
				<div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.1745744269012018.1073741833.1565864100333370&amp;type=3" data-width="150" data-show-text="true"><blockquote cite="https://www.facebook.com/media/set/?set=a.1745744269012018.1073741833.1565864100333370&amp;type=3" class="fb-xfbml-parse-ignore">Pubblicato da <a href="https://www.facebook.com/fablabforkids/">Fablab for Kids</a> su&nbsp;<a href="https://www.facebook.com/media/set/?set=a.1745744269012018.1073741833.1565864100333370&amp;type=3">Domenica 9 ottobre 2016</a></blockquote></div>
			</div>
			 <div class="col-sm-3 col-md-4">
				<h2 style="color: #F2AB3A">TORINO<br>Mini Maker Faire 2016</h2>
				<div class="fb-post" data-href="https://www.facebook.com/media/set/?set=a.1695363170716795.1073741832.1565864100333370&amp;type=3" data-width="150" data-show-text="true"><blockquote cite="https://www.facebook.com/media/set/?set=a.1695363170716795.1073741832.1565864100333370&amp;type=3" class="fb-xfbml-parse-ignore"><p>I laboratori Fablab for Kids hanno coinvolto oltre 250 bambini alla Mini Maker Faire Torino. I giovani makers hanno...</p>Pubblicato da <a href="https://www.facebook.com/fablabforkids/">Fablab for Kids</a> su&nbsp;<a href="https://www.facebook.com/media/set/?set=a.1695363170716795.1073741832.1565864100333370&amp;type=3">Domenica 29 maggio 2016</a></blockquote></div>
			</div> !-->
		</div>
		<hr>
	</div>
