<div id='footer'>
  <div class='spacing'></div>
  <div class='row'>

    <div class='large-4 medium-3 columns'  align="center">
        <div class='spacing'></div>
        <a href='index.html'>
        <img alt="" src="{{site.url}}/images/logo-white.svg"/>
        </a>

      <p>Pier +39 345 0713060 <br><a href="mailto:info@fablabforkids.it">info@fablabforkids.it</a></p>
      <div class='spacing'></div>

    </div>
    <div class='large-4 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links' align="center">

        <ul>

          <li>Officine Innesto srl<br> via Agostino da Montefeltro,2 <br> 10134 Torino - ITALY<br> P.iva 10631880019</li>
        </ul>
      </div>
    </div>

    <div class='large-4 medium-3 columns'>
      <div class='spacing'></div>


      <div class='spacing'></div>
      <ul class='socials'>
        <div align="center">
        <li>
          <a href='https://www.facebook.com/fablabforkids/' target="_blank">
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='https://www.flickr.com/people/fablab4kids/' target="_blank">
            <i class='fa fa-flickr'></i>
          </a>
        </li>
        <li>
          <a href='http://officine.cc' target="_blank">
          <i class='fa fa-creative-commons'></i>
          </a>
        </li>
      </div>
      </ul>
    </div>
  </div>
</div>


<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
