

		<style type="text/css">

		</style>
		<body>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.8&appId=271016663109135";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="jumbotron" style="background-color: #00929F">
				<div class="container">
					<div class="col-md-12" align="center">
						<!--
						<img src="{{site.baseurl}}/img/FablabforKids_LogoWhite.png">
						-->
						<!--
						<img src="http://tongatron.github.io/fablabforkids-mockup/img/FablabforKids_LogoWhite.png">
						-->
						<img src="img/fablabforkids-logo-white2.png" width="600">
					</div>
				</div>
			</div>
