<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">


        <div id="navbar" class="navbar-collapse.collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.baseurl}}/scuole/">Offerta Scuole</a></li>
            <li><a href="{{site.baseurl}}/past-events/">Ultimi eventi</a></li>
            <li><a href="{{site.baseurl}}/press/">Press</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
