<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">


        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{site.baseurl}}/scuole/">Sei un insegnante?</a></li>
            <li><a href="{{site.baseurl}}/past-events/">Eventi Passati</a></li>
            <li><a href="{{site.baseurl}}/press/">Press</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
