<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 style="font-weight: 300">
        Fablab for Kids è la piattaforma educativa di <a href="http://fablabtorino.org/">Fablab Torino</a> dedicata a bambini e ragazzi.<br></h2>
        <h2 style="font-weight: 400">In ognuno può nascondersi un grande inventore, la nostra missione è tirarlo fuori!</h2>
        <h2 style="font-weight: 300"> I nostri metodi? Creatività, sperimentazione e tanta pratica.
        I nostri corsi e laboratori sono perfetti per muovere i primi passi nel mondo Makers: programmazione, coding, modellazione e stampa 3D, robotica, elettronica e tanto altro!
      </h2>

      <!--<h2 style="font-weight: 300">
      I laboratori si svolgono presso il <a href="http://fablabtorino.org/">Fablab Torino</a>, scuole ed eventi.
      </h2>
      <h3 style="font-weight: 700;color: #353531">#Makers &nbsp&nbsp  #Stampa3D &nbsp&nbsp #TaglioLaser &nbsp&nbsp #Arduino &nbsp&nbsp <br>#Elettronica &nbsp&nbsp #Coding &nbsp&nbsp #Robotica &nbsp&nbsp</h3>
      !-->
    </div>
    <div class="col-md-4">
      <div style="background-color: #EEEEEE;padding:20px">
        <h3 style="font-weight:700;color:#F2AB3A">NEWSLETTER</h3>
        <p>Ricevi aggiornamenti sui prossimi laboratori in programma:
        </p>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
          <form action="//arduino.us5.list-manage.com/subscribe/post?u=0140d17584d1c002bcd94d0e8&amp;id=906bb8b6a6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate  style="padding:0px;margin:0px">
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0140d17584d1c002bcd94d0e8_906bb8b6a6" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning"></div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
      <hr>
      <div class="fb-like" data-href="https://www.facebook.com/fablabforkids" data-width="300" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>


    </div>
  </div>

</div>
